name: ci

on:
  push:
  pull_request:

jobs:
  test-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23.x"
      - name: Go test
        run: |
          go test ./...

  test-python-legacy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install legacy
        run: |
          python -m pip install -U pip
          pip install -e legacy/python
          pip install ruff pytest
      - name: Legacy make test
        run: |
          cd legacy/python
          make test
